<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Admin Menu Start -->

            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                
                    <li>
                        <a routerLink="/home" class=" waves-effect">
                            <i class="bx bx-home-circle"></i>
                            <span key="t-dashboards">Dashboards</span>
                        </a>
    
                    </li>
                

                
                    <li>
                        <a routerLink="/home/client" class=" waves-effect">
                            <i class="bx bx-layout"></i>
                            <span key="t-layouts">Clients management</span>  
                        </a>
                     
                    </li>
                

                <li>
                    <a routerLink="/home/project" class=" waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span key="t-projects">Projects</span>
                    </a>
                              
                </li>

               
                <li>
                    <a routerLink="/home/employee" class=" waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts">Employees</span>
                    </a>
                             
                </li>
              
                  <li>
                    <a routerLink="/home/files" class=" waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-contacts">Files Managment</span>
                    </a>
                             
                </li>

            </ul>

        </div>
        <!-- Sidebar -->
    </div>
</div>